*.vo
*.vok
*.vos
*.glob
*.aux
.*.aux
.coq-native/
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
*.cmi
*.cmo
*.cmx
*.cmxs
*.o
_build/
_opam
__pycache__/
*.pyc
.venv/
*~
.DS_Store
rocq_mcp_cache_*.v
meta/generated/
.lia.cache
*.lia.cache
/graph-conjectures/
.nia.cache
